# Create a free Supabase project and paste your values here
VITE_SUPABASE_URL = https://smkwspewtoowiiioxnnk.supabase.co
VITE_SUPABASE_ANON_KEY = yeyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNta3dzcGV3dG9vd2lpaW94bm5rIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU4MDI5MjUsImV4cCI6MjA5MTM3ODkyNX0.Zw0ZnsKnWyl3Dl9FpRr2UUoRwc5S1kVNNOTLJRD-gBg
